.container {
  position: absolute;
  top: 30%;
  left: 1em;
  text-align: center;
}

.container .input {
  font-size: 0.7em;
  width: 20em;
}

.container .submit {
  font-size: 2em;
  border-radius: 0.2em;
}
